/*global values*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', arial, "sans-serif";
	
}

body {
	display: block;
	font-size: 14px;
}

header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fafafa;
	height: 120px;
	border-bottom: 1px solid #ebebeb;
	margin: 0px;
	padding: 20px;
}
section {
	display: block;
	position: relative;
	margin-top: 130px;
	margin-left: 150px;
	width: 600px;
	height: auto;
}
footer {
	display: block;
	position: absolute;
	top: 1440px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #f2f2f2;
	width: 100%;
	height: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #ebebeb;
	font-size: small;
}
#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	display: inline-block;
	width: 120px;
	height: 44px;
}
header input {
	position: absolute;
	left: 140px;
	width: 650px;
	height: 44px;
	border: 1px solid #e8e8e8;
	box-shadow: 0px 0px 1px 1px #cdc8b1;
	background-image: url("./search-bar.png");
	background-position: right;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}
.nav-left {
	display: inline-block;
	position: relative;
	top: 55px; 
	left: 100px;  
}
.nav-right {
    left: 650px;
	display: inline-block;
	position: relative;
	top: 55px;
	left: 200px;

}

header li, footer li {
	display: inline;
	margin-right: 20px;
}
a {	text-decoration: none;
	cursor: auto;
}
li a {
	color: #777;
}
#current {
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
	font-weight: bold;
	padding: 14px 13px;
}
#account {
	position: absolute;
	display: block;
	top: 20px;
	right: 15px;
}

div {
	display: block;
	position: relative;
}
p span {
	color: #A2A2A2;
	font-size: small;
}
.result a {
	font-size: 18px;
	color: #1a0dab;
}
#green-text {
color: green;
margin: 0;
}
.result p{
	line-height: 18px;
	color: #545454;
	text-align: left;
	margin-top: 0;
}
.related {
	font-weight: bold;
	color: #1a0dab;
	display: inline-block;
	padding: 1px;
	line-height: 20px;
	max-width: 100%
	margin-left: 5px;
	margin-right: 5px;
}
#bottom {
	display: block;
	width: 300px;
	height: 48px;
	margin: 0 auto;
}
.nav-bottom {
	margin-left: 160px;
	font-size: small;
}